/* Page style */
body {
    background: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 60px;
}

/* Traffic light container */
.box {
    width: 120px;
    background: black;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
}

/* Lights */
.light {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #333;   /* OFF */
    margin: 15px auto;
}

/* Button */
button {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}
