<div style="width: 400px; margin: auto;">
  <h2>Add Item</h2>

  <form [formGroup]="form" (ngSubmit)="addItem()">

    <label>Title:</label>
    <input type="text" formControlName="title">
    <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
      Title is required
    </div>

    <br><br>

    <label>Description:</label>
    <textarea formControlName="description"></textarea>
    <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched">
      Description is required
    </div>

    <br><br>

    <button type="submit" [disabled]="form.invalid">
      Add Item
    </button>

  </form>

  <hr>

  <h3>Items List</h3>

  <ul>
    <li *ngFor="let item of items">
      <b>{{ item.title }}</b> - {{ item.description }}
    </li>
  </ul>
</div>